.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-bottom: 50px;
}

.animationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 80%;
}

.startButton {
  width: 200px;
  height: 50px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 50px;
}